.notifications-page {
    background-color: #0d0d0d;
    color: #f5f5f5;
    min-height: 100vh;
    padding: 2rem;
    max-width: 800px;
    margin: 80px auto 0;
    font-family: 'Segoe UI', sans-serif;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border: 0.0001px solid #fff;
  }
  
  .notifications-list-container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
  }
  
  .notifications-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f5f5f5;
  }
  
  .notifications-list {
    list-style: none;
    padding: 0;
  }
  
  .notification-item {
    background-color: #1a1a1a;
    color: white;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #222;
    display: flex;
    flex-direction: column;
  }
  
  .notification-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .username {
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
  }
  .username:hover {
    border-bottom: 2px solid white;
  }
  
  .notification-date {
    font-size: 0.85rem;
    color: #888;
  }
  
  .notification-message p {
    margin: 0;
    color: #ccc;
  }
  
  .no-notifications {
    text-align: center;
    color: #777;
    padding: 1rem 0;
    font-style: italic;
  }
  